<!-- Start of Header -->
<div class="header-wrapper">
    <header>
        <div class="container">
            <div class="logo-container">
                <!-- Website Logo -->
                <a href="__URL__"  title="KnowledgeBase">
                    <img src="__PUBLIC__/images/logo.png" alt="KnowledgeBase">
                </a>
                <!--<span class="tag-line">Premium WordPress Theme</span>-->
            </div>
            
            <!-- Start of Main Navigation -->
            <nav class="main-nav">
                <div class="menu-top-menu-container">
                    <ul id="menu-top-menu" class="clearfix">
                        <li class="current-menu-item"><a href="{:U('Index/index')}">主页</a></li>
                        <!--<li><a href="home-categories-articles.html">Home 3</a></li>-->
                        <!--<li><a href="articles-list.html">Articles List</a></li>-->
                        <!--<li><a href="faq.html">FAQs</a></li>-->
                        <li><a href="{:U('Question/index')}">提问</a>
                            <ul class="sub-menu">
                                <volist name="type" id="questionType">
                                    <li><a href="__MODULE__/Question?type={$questionType.type_id}">{$questionType.type_name}</a></li>
                                </volist>
                                
                                <!--<li><a href="green-skin.html">Green Skin</a></li>-->
                                <!--<li><a href="red-skin.html">Red Skin</a></li>-->
                                <!--<li><a href="index-2.html">Default Skin</a></li>-->
                                
                            </ul>
                        </li>
                        
                        <!--<li><a href="#">More</a>-->
                        <!--<ul class="sub-menu">-->
                        <!--<li><a href="full-width.html">Full Width</a></li>-->
                        <!--<li><a href="elements.html">Elements</a></li>-->
                        <!--<li><a href="page.html">Sample Page</a></li>-->
                        <!--</ul>-->
                        <!--</li>-->
                        
                        <li><a href="{:U('Index/contact')}">联系我们</a></li>
                    </ul>
                </div>
            </nav>

            <div class="login">
                <a href="{:U('User/login')}">登录</a>
                |
                <a href="{:U('User/register')}">注册</a>
            </div>
            <!-- End of Main Navigation -->

        </div>
    </header>
</div>
<!-- End of Header -->